


<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">

      <!--Body content-->
      <h2>Database-{{getDatabase()}}</h2>


      <!-- Command Prompt -->
      <div id="command_slider" class="hidden">
        <div id="command_console">
          <form ng-submit="execute()" >
            Command:
            <input type="text" ng-model="command" class="command_input" 
              on-keyup="keypressCallback" 
            />
            <input type="submit" class="btn btn-medium btn-primary" />
          </form>
        </div>
        <div id="command_result">
          <pre class="prettyprint">{{result}}</pre>
        </div>
      </div>


      <ul class="nav nav-tabs">
        <li class="active" ><a href="#strings" data-toggle="tab" id="tab_strings">Strings</a></li>
        <li><a href="#lists" data-toggle="tab" id="tab_lists">Lists</a></li>
        <li><a href="#sets" data-toggle="tab" id="tab_sets">Sets</a></li>
        <li><a href="#hashes" data-toggle="tab" id="tab_hashes">Hashes</a></li>
        <li><a href="#sorted_sets" data-toggle="tab" id="tab_sorted_sets">Sorted Sets</a></li>
      </ul>

      <div class="tab-content">

        <!-- Strings -->
        <div class="tab-pane active" id="strings">
          <b>Strings ({{filterByType(redis_keys, 'string').length}})</b>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="key in filterByType(redis_keys, 'string') | filter:query">
                <td>{{key.key}}</td><td>{{key.type}}</td>
                <td><a href="" class="btn btn-primary" ng-click="showKeyValue(key.type, key.key)">Show Value</a></td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- Lists -->
        <div class="tab-pane" id="lists">
          <b>Lists ({{filterByType(redis_keys, 'list').length}})</b>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="key in filterByType(redis_keys, 'list') | filter:query">
                <td>{{key.key}}</td><td>{{key.type}}</td>
                <td><a href="" class="btn btn-primary" ng-click="showKeyValue(key.type, key.key)">Show Value</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Sets -->
        <div class="tab-pane" id="sets">
          <b>Sets ({{filterByType(redis_keys, 'set').length}})</b>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="key in filterByType(redis_keys, 'set') | filter:query">
                <td>{{key.key}}</td><td>{{key.type}}</td>
                <td><a href="" class="btn btn-primary" ng-click="showKeyValue(key.type, key.key)">Show Value</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Hashes -->
        <div class="tab-pane" id="hashes">
          <b>Hashes ({{filterByType(redis_keys, 'hash').length}})</b>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="key in filterByType(redis_keys, 'hash') | filter:query">
                <td>{{key.key}}</td><td>{{key.type}}</td>
                <td><a href="" class="btn btn-primary" ng-click="showKeyValue(key.type, key.key)">Show Value</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Sorted Sets -->
        <div class="tab-pane" id="sorted_sets">
          <b>Sorted Sets ({{filterByType(redis_keys, 'zset').length}})</b>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="key in filterByType(redis_keys, 'zset') | filter:query">
                <td>{{key.key}}</td><td>{{key.type}}</td>
                <td><a href="" class="btn btn-primary" ng-click="showKeyValue(key.type, key.key)">Show Value</a></td>
              </tr>
            </tbody>
          </table>
        </div>


      </div> 


    </div> <!-- span 10 -->


    <!-- Database Control -->

    <div class="span2">
      <div class="control">
        <!--Sidebar content-->
        
        <h5>Filter</h5>
        <input ng-model="query" class="query-filter" placeholder="keyword">
        <p>Keys: {{redis_keys.length}}</p>
        <a href="" class="btn btn-medium btn-inverse control-button" ng-click="toggleCommand()">Command Prompt</a>
<!--         <a href="" class="btn btn-medium btn-danger control-button">Flush DB {{getDatabase()}}</a> -->
      </div>
    </div>

  </div>
</div>


<div id="showValueModal" class="modal hide fade value_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{show_key}}</h3>
  </div>
  <div class="modal-body">
    <pre class="prettyprint">{{show_result}}</pre>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<div id="showListModal" class="modal hide fade value_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{show_key}} </h3>
  </div>
  <div class="modal-body">
    <h5>Length: {{show_list_result.length}}</5>
    <div>
      <select ng-model="list_index" class="ng-pristine ng-valid">
        <option ng-repeat="val in show_list_result" value="{{val}}">{{val}}</option>
      </select>
      <a href="" class="btn btn-primary" ng-click="showListValue(show_key, list_index)">Show Value</a>
    </div>
    <pre class="prettyprint">{{list_value}}</pre>
    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<div id="showSetModal" class="modal hide fade value_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{show_key}} </h3>
  </div>
  <div class="modal-body">
    <h5>Length: {{show_set_result.length}}</5>
    <table class="table table-striped table-hover">
      <thead><tr><th>Key</th><th>Value</th></tr></thead>
      <tbody>
        <tr ng-repeat="val in show_set_result">
          <td>{{val.key}}</td><td>{{val.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<div id="showHashModal" class="modal hide fade value_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{show_key}} </h3>
  </div>
  <div class="modal-body">
    <h5>Length: {{show_hash_result.length}}</5>
    <table class="table table-striped table-hover">
      <thead><tr><th>Key</th><th>Value</th></tr></thead>
      <tbody>
        <tr ng-repeat="val in show_hash_result">
          <td>{{val.key}}</td><td><pre class="prettyprint">{{val.value}}</pre></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<div id="showSortedSetModal" class="modal hide fade value_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{show_key}} </h3>
  </div>
  <div class="modal-body">
    <h5>Length: {{show_zset_result.length}}</5>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Index</th>
          <th>Score</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="val in show_zset_result">
          <td>{{val.index}}</td>
          <td>{{val.score}}</td>
          <td><pre class="prettyprint">{{val.value}}</pre></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>


<script>
    jQuery(function() {
      var availableCommand = [
        "get", 
        "set", 
        "setnx", 
        "setex", 
        "append", 
        "strlen", 
        "del", 
        "exists", 
        "setbit", 
        "getbit", 
        "setrange", 
        "getrange", 
        "substr", 
        "incr", 
        "decr", 
        "mget", 
        "rpush", 
        "lpush", 
        "rpushx", 
        "lpushx", 
        "linsert", 
        "rpop", 
        "lpop", 
        "brpop", 
        "brpoplpush", 
        "blpop", 
        "llen", 
        "lindex", 
        "lset", 
        "lrange", 
        "ltrim", 
        "lrem", 
        "rpoplpush", 
        // Set operations
        "sadd", 
        "srem", 
        "smove", 
        "sismember", 
        "scard", 
        "spop", 
        "srandmember", 
        "sinter", 
        "sinterstore", 
        "sunion", 
        "sunionstore", 
        "sdiff", 
        "sdiffstore", 
        "smembers", 
        "zadd", "zincrby", "zrem", "zremrangebyscore", "zremrangebyrank", "zunionstore",
        "zinterstore", "zrange", "zrangebyscore", "zrevrangebyscore", "zcount", "zrevrange", "zcard", 
        "zscore", "zrank", "zrevrank", 
        "hset", "hsetnx", "hget", "hmset", "hmget", "hincrby", "hdel", "hlen", "hkeys", "hvals", "hgetall", 
        "hexists", 
        "incrby", "decrby", "getset", "mset", "msetnx", "randomkey", "select", "move", "rename", "renamenx", 
        "expire", "expireat", "keys", "dbsize", "auth", "ping", "echo", "save", "bgsave", "bgrewriteaof", 
        "shutdown", "lastsave", "type", "multi", "exec", "discard", "sync", "flushdb", "flushall", "sort", 
        "info", "monitor", "ttl",
        "persist", "slaveof", "debug", "config", 
        "subscribe", "unsubscribe", "psubscribe", "punsubscribe", "publish", "watch", "unwatch", 
        "cluster", "restore", "migrate", "dump", "object", "client", "eval", "evalsha" 
      ];
      
      jQuery(".command_input" ).autocomplete({
          source: availableCommand
      });
    });

  </script>

  

