<div class="container-fluid">
  <div class="row-fluid">

    
    <div class="span10">
      <!--Body content-->
      <h2> Redis Info </h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="info in redis_info | filter:query">
            <td>{{info.key}}</td><td>{{info.value}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="span2 ">
      <div class="left-control">
        <!--Sidebar content-->
        <h5>Filter</h5>
        <input ng-model="query" class="query-filter" placeholder="keyword">
      </div>

    </div>

  </div>
</div>